# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.vscode/
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Runtime
*.tmp
*.pid